.section--three {
    color: #fff;
    padding-top: 40px;
}

.section--three--title {
    font-size: 2rem;
    position: relative;
    top: 30px;
    left: 100px;
}

.section--three--title h2::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(72, 173, 255);
    top: 20px;
    left: -20px;
    border-radius: 50%;
}

.section--three--title h2::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgb(16, 67, 144);
    top: 0;
    left: -18px;
    border-radius: 50%;
}

.section--three--text {
    margin-top: 3rem;
    position: relative;
}

.section--three--slide {
    width: 80%;
    height: 300px;
    margin: auto;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.section--three--slide::-webkit-scrollbar {
    width: 6px;
}

.section--three--slide::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.section--three--rating {
    display: flex;
    justify-content: left;
    align-items: center;
}

.section--three--name {
    margin-right: 30px;
    font-size: 1.9rem;   
}

.section--three--comment {
    margin-top: 25px;
    font-size: 1.3rem;
}

.section--three--background--img {
    position: absolute;
    top: -160px;
    right: 160px;
    width: 300px;
    mask-image: radial-gradient(circle at center, black 30%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle at center, black 30%, transparent 100%);
    opacity: .8;
    transform: rotate(340deg);
}

@media screen and (max-width: 1400px) {
    .section--three {
        padding-top: 35px;
    }

    .section--three--title {
        font-size: 1.8rem;
    }

    .section--three--title h2::after {
        width: 15px;
        height: 15px;
    }

    .section--three--title h2::before {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1300px) {
    .section--three--name {
        font-size: 1.7rem;
    }

    .section--three--comment {
        font-size: 1.2rem;
    }

    .section--three--background--img {
        right: 100px;
    }
}

@media screen and (max-width: 1010px) {
    .section--three {
        padding-top: 20px;
    }

    .section--three--title {
        left: 70px;
    }
}

@media screen and (max-width: 900px) {
    .section--three--name {
        font-size: 1.5rem;
    }

    .section--three--comment {
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .section--three--background--img {
        right: 50px;
    }

}

@media screen and (max-width: 780px) {
    .section--three {
        padding-top: 15px;
    }

    .section--three--title {
        font-size: 1.4rem;
    }

    .section--three--title h2::after {
        width: 10px;
        height: 10px;
        top: 15px;
    }

    .section--three--title h2::before {
        width: 20px;
        height: 20px;
    }

    .section--three--background--img {
        right: 25px;
    }
}

@media screen and (max-width: 700px) {
    .section--three {
        padding-top: 10px;
    }

    .section--three--title {
        left: 30px;
    }

    .section--three--slide {
        height: 350px;
    }
}